*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: black;
}

/* div.container div.ball {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.02, 0, -1.21);
}

div.container:hover div.ball {
    transform: rotateZ(120deg); 
    transform: scale(2);
    transform: translateX(400px);
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
} */

div.container div.ball {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 128, 117);
}

div.ball {
    margin: 10px;
    animation-duration: 2s;
    animation-name: stylish-rotate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

div.ball:nth-child(2) {
    animation-delay: 3s;
    animation-name: bounce;
    animation-duration: 4s;
}

div.ball:nth-child(3) {
    animation-delay: 2.5s;
}

div.ball:nth-child(4) {
    animation-delay: 2.5s;
    animation-name: bounce;
    animation-duration: 3s;
}

div.ball:nth-child(5) {
    animation-delay: 3.2s;
}

@keyframes bounce {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: translateY(500px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-100px);
    }
    100% {
        /* transform: rotate(90deg); */
    }
}

@keyframes stylish-rotate {
    0% {
        background-color: violet;
    }
    14% {
        background-color: indigo;
    }
    28% {
        background-color: blue;
    }
    42% {
        background-color: green;
    }
    56% {
        background-color: yellow;
    }
    70% {
        background-color: orange;
    }
    84% {
        background-color: red;
    }
    100% {
        transform: rotate(360deg);
        background-color: white;
        border-radius: 10px;
    }
}

/*  */

div.nxt-container{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 50vh;
    background-color:darkred;
}

div.nxt-container div.ball-slide{
    width: 100px;
    height: 100px;
    background-color: darkseagreen;
    margin-top: 30px;
}

div.ball-slide{
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: slider;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
div.nxt-container div.ball-slide2{ 
    width: 100px;
    height: 100px; 
    background-color: bisque;  
    margin-top: 180px;
}
div.ball-slide2{
    animation-duration: 4s;
    animation-name: sliderrev;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes slider {
    0%{
        transform: translateX(80vw);
    }
    25%{
        /* transform: translateX(33vw); */
    }
    50%{
        transform: rotate(120deg);
    }
    75%{
        /* transform: translateX(90vw); */
    }
    100%{
        transform: translateX(80vw);
    }
}

@keyframes sliderrev {
    0%{
        /* transform: rotate(120deg); */
        transform: translateX(80vw);
    }
    25%{
        
    }
    50%{
        transform: rotate(120deg);
        /* transform: translateX(); */
    }
    75%{
        /* transform: translateX(10vw); */
    }
    100%{
        transform: translateX(80vw);
    }
}